.button {
  width: 50px;
  height: 50px;
  background-size: cover;
  border: none;
  color: transparent;
  background-color: transparent;
  z-index: 1;
}

.button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.button:active {
  transform: scale(0.97);
}

.button.mute {
  width: 32px;
  height: 32px;
  background-size: contain;
}

@keyframes blinking {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}